@tailwind base; 
@tailwind components; 
@tailwind utilities; 

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

:root { 
  --foreground-rgb: 34, 34, 34; 
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 255, 255, 255; /* White for the end of the gradient */
  --font-family: 'Playfair Display', serif; /* Fancy font for a classic, elegant look */
}

@media (prefers-color-scheme: dark) { 
  :root { 
    --foreground-rgb: 245, 245, 245; 
    --background-start-rgb: 30, 30, 30; 
    --background-end-rgb: 10, 10, 10; 
  } 
} 

body { 
  color: rgb(var(--foreground-rgb)); 
  background: linear-gradient( 
    to bottom, 
    rgb(var(--background-start-rgb)), 
    rgb(var(--background-end-rgb)) 
  ); 
  font-family: var(--font-family); /* Applying the new font */
} 

@layer utilities { 
  .text-balance { 
    text-wrap: balance; 
  } 
} 

.collapse.show { 
  visibility: visible; 
} 

.CreateBook { 
  background-color: #f9f9f9; /* Light grey */
  min-height: 100vh; 
  color: #333; /* Dark grey for contrast */
} 

.ShowBookDetails { 
  background-color: #f9f9f9; /* Light grey */
  min-height: 100vh; 
  color: #333; /* Dark grey for contrast */
} 

.UpdateBookInfo { 
  background-color: #f0f8ff; /* Very light blue */
  min-height: 100vh; 
  color: #333; /* Dark grey for contrast */
} 

.ShowBookList { 
  background-color: #f9f9f9; /* Light grey */
  height: 100%; 
  width: 100%; 
  min-height: 100vh; 
  min-width: 100px; 
  color: #333; /* Dark grey for contrast */
} 

/* BookList Styles */ 
.list { 
  display: grid; 
  margin: 20px 0 50px 0; 
  grid-template-columns: repeat(4, 1fr); 
  grid-auto-rows: 1fr; 
  grid-gap: 2em; 
} 

.card-container { 
  width: 250px; 
  border: 1px solid rgba(0,0,.125); 
  margin: 0 auto; 
  border-radius: 5px; 
  overflow: hidden; 
} 

.desc { 
  height: 130px; 
  padding: 10px; 
} 

.desc h2 { 
  font-size: 1.2em; /* Slightly larger for emphasis */
  font-weight: 700; /* Bold for more prominence */
} 

.desc h3, p { 
  font-weight: 400; /* Regular weight for a clean look */
} 

.desc h3 { 
  color: #6c757d; /* Soft grey */
  font-size: 1.1em; /* Slightly larger for better readability */
  padding: 10px 0 10px 0; 
}
